@media only screen and (max-width: 800px) {
    .navbar-brand{
        margin-top: 10px;
        margin-left: 20px;
    }
.a1st_hr{
  margin-left: 10px;
  visibility: hidden;
}
.your{
    width: 502px;
    height: 279px;
    margin-left: 24.49px;
    margin-top: 82.44px;
    font-family: 'Zen Old Mincho';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 93px;
    color: rgba(224, 224, 224, 0.9);
      
}
.Welcome{
    margin-left: 84.49px;
    font-family: 'Zen Old Mincho';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    margin-top: 90px;
    color: rgba(224, 224, 224, 0.8);
    }
    .get{
   margin-left: 20px;
    }
.try{
    margin-left: 250px;
}
.Trusted{
    margin-left: 50px;
}
.amico{
    width: 400.82px;
    height: 400.74px;
    left: 850.25px;
    
    }
    .github{
    margin-left: -325px;
    margin-top: 120px;
       }
       .a2{
        margin-left: -405px;
        margin-top: 100px;
        font-size: 50px;
     }
.service_boi_2{
    margin-left: 80px;
    margin-top: 100px;
}
/* explor opan */
.explor{
    background-color: #D8EBEE;
    padding: 20px;
}
.explor_boi1{
    width: 262.93px;
    height: 49.17px;
    margin-left: 122.15px;
    margin-top: 154.98px;
    background: rgba(186, 104, 200, 0.9);
    border-radius: 30px;
    
}
.explor_boi1 p{
    font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
color: rgba(255, 255, 255, 0.9);
padding: 12px 50px;
}
.explor_boi3{
    width: 100%;
}
.development_service_3{

}
.Affordable{

font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 70px;

color: rgba(23, 35, 39, 0.9)
}
.Our{
margin-top: 44px;
font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
color: rgba(31, 47, 52, 0.8);
}
.explor_boi_4{
    width: 168.01px;
height: 50.77px;
left: 840.06px;
margin-top: 70px;
background: rgba(186, 104, 200, 0.9);
border-radius: 57px;
}
.explor_boi_4 p{
    font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 29px;
padding: 10px 38px;
color: rgba(250, 250, 250, 0.9);
}
.Work{
    margin-top: 256px;
text-align: center;
font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 70px;

color: rgba(24, 35, 39, 0.9);

}
.Amet_minim{
    margin-top: 26px;
font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: rgba(0, 0, 0, 0.8);
}
/* work opan */
.aaa{
    margin-left: -140px;
}
.bbb{
    margin-top: 120px;
    margin-left: -80px;
}
.ccc{
    margin-top: 120px;
    margin-left: -20px;
}
.ddd{
    margin-top: 120px;
    margin-left: -20px;
    
}
/* latestt///////////////////////////////////////////// */
.latest{
    background: #E9F0EC;
padding: 20px;
}
.Latest1{
    
font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 58px;
text-align: center;
padding: 20px;
color: rgba(23, 35, 39, 0.9);
margin-top: 270.92px;
}
.Amet_minim{
    
font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
text-align: center;

color: rgba(31, 47, 52, 0.8);
}
.latest_boi2{
    width: 100%;
}
.Rectangle_9049{
    margin-top: 84.87px;
    width: 363px;
height: 324px;
border-radius: 16px;
margin-left: 20.12px;
flex: none;
order: 0;
flex-grow: 0;
}
.Rectangle_23{
    
    width: 363px;
height: 324px;
border-radius: 16px;

margin-left: 22.45px;
margin-top: 84.87px;

flex: none;
order: 0;
flex-grow: 0;
}
.Rectangle_9048{
    
    width: 363px;
height: 324px;
border-radius: 16px;
margin-left: 22.45px;
margin-top: 84.87px;

flex: none;
order: 0;
flex-grow: 0;
}
/* boiiiiii */
.GoBoos{
    margin-top: 16px;
    margin-left: 22.45px;
    width: 86px;
height: 35px;

font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 35px;
color: rgba(23, 35, 39, 0.9);
flex: none;
order: 0;
flex-grow: 0;
}
.GoBoos_assists{
    margin-left: 22.45px;
    width: 374px;
height: 72px;

font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
color: rgba(31, 47, 52, 0.8);
flex: none;
order: 1;
flex-grow: 0;
}
.g{
    width: 163px;
height: 34px;
margin-left: 22.45px;
background: #577F8E;
}
.g i{

z-index: 2;
margin-top: 10px;
margin-left: 10px;
}
.Responsiv{
    margin-top: -25px;
    margin-left: 35px;
    width: 114px;
height: 24px;
left: 40px;
top: 5px;
font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
color: rgba(31, 47, 52, 0.8);
}
.gp{
    width: 163px;
height: 34px;
margin-top: -32px;
margin-left: 200px;
background: #577F8E;
border-radius: 4px;
}
.gp i{
    margin-top: 10px;
    margin-left: 10px;
}
.Page_Speed{
    margin-top: -22px;
    margin-left: 35px;
    width: 114px;
height: 24px;
left: 40px;
top: 5px;
font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
color: rgba(31, 47, 52, 0.8);
}

/* about////////////////////////////// */
.about_1{

    font-family: 'Zen Old Mincho';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    margin-left: 23px;
    margin-top: 195px;
    color: rgba(87, 127, 142, 0.9);
    }
    .hr_44{
        width: 113.74px;
    height: 0px;
    margin-left: 23px;
    margin-top: -20px;
    border: 1px solid rgba(69, 90, 100, 0.5);
    }
    
    .A_great{
        width: 494px;
    height: 116px;
    left: 83.65px;
    top: 4849.51px;
    margin-left: 20.65px;
    font-family: 'Zen Old Mincho';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 58px;
    color: rgba(23, 35, 39, 0.9);
    }
    .about_boo{
        width: 100%;
    }
    
    .Our_motto{
    
    height: 168px;
    font-family: 'Zen Old Mincho';
    font-style: normal;
    font-weight: 600;

    margin-left: -22px;
    color: rgba(31, 47, 52, 0.8);
    
    }
    .about_bou_41{
        width: 160.4px;
    height: 41.26px;
    margin-top: 63px;
    margin-left: 83px;
    background: rgba(186, 104, 200, 0.9);
    border-radius: 40px;
    }
    .about_bou_41 p{
        font-family: 'Zen Old Mincho';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    padding: 10px 25px;
    
    color: #FFFFFF;
    
    }
    .pisla{
        position: absolute;
        margin-top: -55px;
        margin-left: 120px;
        font-size: 30px;
        color: white;
    }
    .kt img{
        margin-top: 215px;
    
    }
    /* opan slaice................................................................. */
    .slaice{
        padding: 20px;
        background: #F9F5F2;
    }
    
    .WHY{
        
    margin-top: 228px;
    text-align: center;
    font-family: 'Zen Old Mincho';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    
    color: #577F8E;
    }
    .why_hr{
        position: absolute;
        margin-left: 200px;
    }
    .We_Are{
    text-align: center;
    font-family: 'Zen Old Mincho';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 58px;
    color: rgba(23, 35, 39, 0.9);
    
    }
    /* slaice boi opan */
    .slaice_boi_1{
        width: 100%;
        margin-top: 106.39px;
        
    }
    .a1{
    margin-left: 86.34px;
    }
    .Website{
        margin-left: 50px;
    margin-top: 27px;
    font-family: 'Zen Old Mincho';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: rgba(23, 35, 39, 0.9);
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    .Simply{
        margin-left: 50px;
    font-family: 'Zen Old Mincho';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: rgba(23, 35, 39, 0.8);
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    .a22{
        margin-top: -15px;
        margin-left: 120px;
    }
    .support{
        margin-top: 20px;
        margin-left: 120px;
        font-family: 'Zen Old Mincho';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: rgba(23, 35, 39, 0.9);
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    .Simply_reach{
        margin-left: 120px;
        font-family: 'Zen Old Mincho';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: rgba(23, 35, 39, 0.8);
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    .i_con_j{
        margin-top: -15px;
        margin-left: 120px;
        font-size: 80px;
        color: deeppink;
    }
    .Wocommerce{
        margin-left: 120px;
        margin-top: 20px;
        font-family: 'Zen Old Mincho';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: rgba(23, 35, 39, 0.9);
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    .Simply_reach_out{
        margin-left: 120px;
        font-family: 'Zen Old Mincho';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: rgba(23, 35, 39, 0.8);
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    .slaice_icon_group{
      margin-top: 102px;
      padding-bottom: 20px;
      margin-left: 30px;
    }
    .slaice_icon_group i{
        margin-left: 55px;
 padding: 25px;
    font-size: 30px;
    }
    .tlc{
        color: rgba(7, 182, 213, 0.9);
    }
    .wiii{
        color:darkgreen;
    }
    .wor{
        color: rgba(7, 182, 213, 0.9);
    }
    .reac{
        color: rgba(7, 182, 213, 0.9);
    
    }
    .java{
        color: #F7DF1E;
    }
    .gra{
        color: rgba(7, 182, 213, 0.9);
    
    }
    .phhh{
        color: #777BB3;
    }
    .boot{
    color: blue;
    }
    .cat{
        color: #D63362;
    }
    .ktr{
        margin-left: 90px;
    }
    .ktr2{
        margin-top: 120px;
    }
    .ktr3{
        margin-top: 120px;
    }
    
    /* castomaigation opan.................................................................. */
    .terr{
        margin-left: 150px;
    }
    .terr2{
        margin-left: 150px;
    }
    .terr3{
        margin-left: 150px;
    }
    .terr4{
        margin-left: 150px;
    }
    /* 222222222222222222222222222222222222222222 part */
    .kala{
        margin-left: 120px;
    }
 
.kala_2{
    margin-left: 120px;

}
/* popular opan......... */
/* pepol opan/.............................................................. */
.pepol{
    padding: 20px;
    background: #F9F5F2;
}
.People_are{
    margin-top: 789px;
    text-align: center;
    font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 130%;
letter-spacing: 0.005em;
color: rgba(23, 35, 39, 0.9);
flex: none;
order: 0;
flex-grow: 0;
}
.pepol_ro_1{
    width: 100%;
}
.pepol_boi_2{
margin-left: 50px;
margin-bottom: 20px;
    width: 343px;
    height: 269px;
    background: #FFFFFF;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.In_the{
  padding-top: 24px;
  padding-left: 24px;
    font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
letter-spacing: 0.005em;
color: rgba(31, 47, 52, 0.8);
flex: none;
order: 0;
flex-grow: 0;
}
.Ellipse15{
    margin-top: 16px;
    margin-left:24px;
}
.Ronald_Richards{
    margin-top: -60px;
    margin-left: 90px;
    font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 28px;
letter-spacing: 0.005em;
color: rgba(0, 0, 0, 0.9);
flex: none;
order: 0;
flex-grow: 0;
}
.Theresa_Webb{
    margin-top: -10px;
   margin-left: 90px;
    font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.005em;
color: rgba(0, 0, 0, 0.9);
flex: none;
order: 1;
flex-grow: 0;
}
.stardd{
    margin-top: 64px;
   margin-left: 530px;
}
.Trustoilot{
    margin-top: -30px;
    margin-left: 570px;
    font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 29px;
letter-spacing: 0.005em;
color: rgba(69, 90, 100, 0.9);

}
.img_154{
    margin-left: 500px;
}
.TrustScore{
    margin-top: 20px;
    margin-left: 500px;
    font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.005em;

color: rgba(69, 90, 100, 0.9);

}
.all_bb{
    margin-left: -320px;
}
/* latest opan........... */
.Lateset_Trending{
    font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 54px;
text-align: center;
color: rgba(23, 35, 39, 0.9);
flex: none;
order: 0;
flex-grow: 0;
}
.Your_industry{
    font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;

text-align: center;

color: rgba(31, 47, 52, 0.8);

flex: none;
order: 1;
flex-grow: 0;
}
.latest_trinh{
    margin-top: 820px;
}
/* 2nd row opan................................................ */
.two_row_boI_i{
    width: 100%;
}
.img_150{
    margin-top: 78px;
    margin-left: 70px;
    width: 300px;
height: 200px;
border-radius: 4px;
flex: none;
order: 0;
flex-grow: 0;
}
.voi_2{
    position: absolute;
   margin-left: -320px;
    font-size: 25px;
 margin-top: 300px;
    color: #577F8E;
}
.Aslam_Uddin2{
    margin-top: 25px;
    margin-left: 85px;
font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #577F8E;
}
.cal_2_l{
    position: absolute;
    margin-top: -35px;
    margin-left: 180px;
    color: #577F8E;

}
.trbh{
    margin-top: -40px;
    margin-left: 200px;
    font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #577F8E;

}
.Elevate{
   margin-top: 80px;
font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
color: rgba(23, 35, 39, 0.9);

}
.Read_More_3{
    margin-left: 50px;
    font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
color: #BA68C8;
flex: none;
order: 0;
flex-grow: 0;
}
.hthh{
    position:absolute ;
    color: #BA68C8;
margin-top: -32px;
    margin-left: 130px;
}
.explor_2{
    margin-top: 209px;
  margin-left: 120px;
    width: 327.33px;
    height: 71.77px;
    background: rgba(186, 104, 200, 0.9);
    border-radius: 40px;
}
.Explore_All_Articles{
  
    font-family: 'Zen Old Mincho';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
color: rgba(255, 255, 255, 0.9);
padding: 25px 60px;
}
.two_r_k{
    margin-left: -30px;
}
.two_r_k_2{
    margin-left: -30px;
}
.two_r_k_3{
    margin-left: -30px;
}
.love{
    margin-left: 50px;
}
.love_boi_1{
    margin-left: 120px;
}
.Rectangle41{
    margin-left: 20px;
}
.pp1{
    margin-top: 10px;
    padding: 20px;
    background-color: black;

}
.pp_2{

    padding: 20px;
    background-color: black;
}
.pp_3{
    padding: 20px;
    background-color: black;
   
}
.icon_footer{
    margin-left: -150px;
}





































}
